<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add Pets</title>
  </head>
  <body>
    <h1>Add a Pet</h1>
    <form action="/pets" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <label for="name">Age:</label>
        <input type="text" name="name" id="name" />
        <label for="name">Breed:</label>
        <input type="text" name="name" id="name" />

        <button type="submit">Add Pet</button>
      </form>
      <a class="pets-index-link" href="/pets">
        <div class="index-link-text">Back to Pets</a></div>
      <a class="home-link" href="/">
        <div class="home-link-text">Home Page</a></div>
    </body>
    </html>
