<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A list of pets</h1>
<ul>
    <%foundPets.forEach(pet => { %>
        <li><%= pet.name %>: <%= pet.age %> years old. Breed: <%= pet.breed %></li>
        <%})%>
</ul>
    
        
    
</body>
</html>